@use '@angular/material' as mat;

html {
  height: 100%;
  color-scheme: light dark;

  body {
    margin: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
  }
}

@include mat.theme((
  color: mat.$violet-palette,
  typography: Roboto,
  density: 0
));

// .material-symbols-outlined {
//   font-variation-settings:
//   'FILL' 0,
//   'wght' 400,
//   'GRAD' 0,
//   'opsz' 24
// }
