@use '@angular/material' as mat;

html {
  height: 100%;
  color-scheme: light dark;
  
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));

  body {
    margin: 0;
    height: 100%;
  }
}